tls:
  certificates:
    - certFile: {{ traefik_cert_file }}
      keyFile: {{ traefik_key_file }}

healthcheck:
    # Run traefik healthcheck command
    # https://doc.traefik.io/traefik/operations/cli/#healthcheck
    test: ["CMD", "traefik", "healthcheck", "--ping"]
    interval: 10s
    timeout: 5s
    retries: 3
    start_period: 5s
